<div class="mb-5">
    <img src="/Plugins/Customer.Membership/images/Upper49thMembershipIndex.png" alt="Membership Image" />
    <form asp-controller="Membership" asp-action="SignUp" method="get">
        <button type="submit" class="btn btn-primary mt-5">Sign Up Now</button>
    </form>
</div>