@model Customer.Membership.Models.OrderViewModel

<div class="mb-5">

    <h2>Payment Successful!</h2>
    <p>You are now a @Model.MembershipRole! Welcome to the Upper49th Family!</p>

    <ul>
        <li><strong>Order Number:</strong> @Model.OrderNumber</li>
        <li><strong>Total:</strong> @Model.Total @Model.Currency</li>
    </ul>

    <a href="/">Back to Home</a>

</div>>
