@model dynamic

<div>
    <p>Widget Value: @Model.Value</p>
    <form asp-controller="MyPluginWidget" asp-action="Index" method="Get">
        <button type="submit" class="btn btn-primary">CLICK ME!!!!</button>
    </form>
</div>